CMakeCache.txt
cmake_install.cmake
AdditionalInfo.txt
CMakeFiles/
Win32/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sdf
*.opensdf
*.sln
*.suo
configure
Debug

/lib/aliases.gperf
/lib/aliases.h
/lib/canonical.h
/lib/canonical_dos.h
/lib/canonical_local.h
/lib/config.h
/lib/flags.h
/libcharset/include/localcharset.h

/include/iconv.h

/canonical.sh
/canonical_local.sh
/srcm4
/autom4te.cache
/gnulib
/libcharset/autom4te.cache
